# Amin M. Boulouma Blog

## Data Structures in Python #5

> [Reminder] ðŸ””
- Help the creator channel reach 20k subscribers. He will keep uploading quality content for you: [Amin M. Boulouma Channel](https://www.youtube.com/channel/UCOZbokHO727qeStxeYSKMUQ?sub_confirmation=1)
- This tutorial is best understood following the video playlist: [Python Ultimate Tutorial](https://www.youtube.com/playlist?list=PLpMTHmi814W0nSToTOC0Q18kREOjcJspW)

Hosted by Amin M. Boulouma, contact and questions: [amine.boulouma.com](https://amine.boulouma.com)
- Python tutorial made simple: https://youtu.be/vQqisFjAnsE
- Source code: https://amboulouma.com/python-tutorial
- Github: https://github.com/amboulouma/python-ultimate-tutorial

### More on lists

In [19]:
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [20]:
a = [1,2,3]
a[len(a):] = [4]
a

[1, 2, 3, 4]

In [21]:
a = [1,2,3]
a.extend([1,2,3])
a

[1, 2, 3, 1, 2, 3]

In [22]:
a = [1,2,3]
a[len(a):] = [1,2,3]
a

[1, 2, 3, 1, 2, 3]

In [23]:
a = [1,2,3]
a.insert(0, 10)
a

[10, 1, 2, 3]

In [24]:
a = [1,2,3]
a.remove(2)
a

[1, 3]

In [25]:
a = [1,2,3]
a.pop()
a

[1, 2]

In [26]:
a = [1,2,3]
a.pop(1)
a

[1, 3]

In [27]:
a = [1,2,3]
a.clear()
a

[]

In [28]:
a = [1,2,3]
del a[:]
a

[]

In [33]:
a = [1,2,3]
a.index(2)

1

In [34]:
a = [1,2,3,1]
a.count(1)

2

In [48]:
a = [1,2,3]
a.reverse()
a

[3, 2, 1]

In [50]:
a = [1,2,3]
b = a.copy() # shallow copy
b

[1, 2, 3]

In [53]:
a = [1,2,3]
b = a[:] # shallow copy
b

[1, 2, 3]

### Using Lists as Stacks

In [54]:
stack = [1,2,3]
stack.append(4)
stack.append(5)
stack

[1, 2, 3, 4, 5]

In [55]:
stack.pop()

5

In [56]:
stack.pop()

4

In [57]:
stack

[1, 2, 3]

### Using Lists as Queues

In [58]:
from collections import deque

queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
queue.popleft()                 # The first to arrive now leaves

'Eric'

In [59]:
queue.popleft()                 # The second to arrive now leaves

'John'

In [60]:
queue

deque(['Michael', 'Terry', 'Graham'])

### List Comprehensions

In [61]:
squares = []
for x in range(10):
    squares.append(x**2)
    
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [63]:
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [64]:
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [65]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [66]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [68]:
vec = [-4, -2, 0, 2, 4]
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [69]:
[x for x in vec if x >= 0]

[0, 2, 4]

In [70]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [71]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']

In [72]:
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [73]:
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [74]:
[x, x**2 for x in range(6)]

SyntaxError: invalid syntax (<ipython-input-74-a4841c5cdd7d>, line 1)

In [75]:
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [76]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

### Nested List Comprehensions

In [77]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

In [78]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [79]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [80]:
transposed = []
for i in range(4):
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [81]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

### The del statement

In [84]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [85]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [86]:
del a[:]
a

[]

In [87]:
del a
a

NameError: name 'a' is not defined

### Tuples and Sequences

In [89]:
t = 12345, 54321, 'hello!'
t[0]

12345

In [90]:
t

(12345, 54321, 'hello!')

In [91]:
# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [92]:
# Tuples are immutable:
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [93]:
# but they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

In [94]:
empty = ()
singleton = 'hello',    # <-- note trailing comma
len(empty)

0

In [95]:
len(singleton)

1

In [96]:
singleton

('hello',)

In [97]:
x, y, z = t

In [98]:
x

12345

In [99]:
y

54321

In [100]:
z

'hello!'

### Sets

In [101]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'banana', 'orange', 'apple', 'pear'}

In [104]:
'orange' in basket # fast membership testing

True

In [103]:
'crabgrass' in basket

False

In [105]:
# Demonstrate set operations on unique letters from two words
a = set('abracadabra')
b = set('alacazam')
a # letters in a

{'a', 'b', 'c', 'd', 'r'}

In [106]:
a-b # letters in a but not in b

{'b', 'd', 'r'}

In [107]:
a | b # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [108]:
a & b # letters in both a and b

{'a', 'c'}

In [109]:
a ^ b # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [110]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

### Dictionaries

In [115]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [116]:
tel['jack']

4098

In [117]:
del tel['sape']
tel['irv'] = 4127
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [118]:
list(tel)

['jack', 'guido', 'irv']

In [119]:
sorted(tel)

['guido', 'irv', 'jack']

In [120]:
'guido' in tel

True

In [121]:
'jack' not in tel

False

In [122]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [123]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [124]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

### Looping Techniques

In [126]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}

for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [127]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [128]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [129]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [130]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(basket):
    print(i)

apple
apple
banana
orange
orange
pear

In [131]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [132]:
import math

raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)
        
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]